
@{
    Layout = null;
}

<div id="styleSelector" class="menu-styler">
    <div class="style-toggler">
        <a href="#!">
        </a>
    </div><div class="style-block" style="background: url('../../wwwRoot/images/Hinh-nen-iphone-4k.jpg'); background-size: cover; filter: unset; ">
        <div class="m-style-scroller" style="background-color: rgb(255 255 255 / 64%); height: calc(100vh - 225px); position: relative;">
            <div class="">
                <div class="col-sm-12">
                    <div class="form-group fill">
                        <label class="floating-label" for="Email"><i class="feather icon-user" style="color: red "></i> Tên cán bộ</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" value="Trần Minh Quân">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group fill">
                        <label class="floating-label" for="Email"><i class="feather icon-target" style="color: red "></i> Chức vụ</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" value="Giám đốc">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group fill">
                        <label class="floating-label" for="Email"><i class="feather icon-user-check" style="color: red "></i> Tên đăng nhập</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" value="quantran3386">
                    </div>
                </div>
                <hr class="">
                <h4 class="mb-2" style=" text-align-last: center;">
                    <small class="font-weight-normal Font-NAV">DIAMOND SOFTWAVE HỖ TRỢ</small>
                </h4>
                <ul>
                    <li>
                        <p class="selector-title main-title st-main-title">
                            <strong style="color:black">Email:</strong>
                            <a class="hvr-shrink" style="color:black" title="Hãy gửi thông tin phản hồi qua email cho chúng tôi nếu bạn cảm thấy dịch vụ không hài lòng." href="mailto:phanmemth2017@gmail.com"> phanmemth2017@gmail</a>
                        </p>
                    </li>

                    <li>
                        <p class="selector-title main-title st-main-title">
                            <strong style="color:black">Hỗ trợ Zalo:</strong>
                            <a class="hvr-shrink" style="color:black" title="Gửi yêu cầu hỗ trợ thông qua zalo để được nhận câu trả lời nhanh nhất." href="https://zalo.me/0889983869" target="_blank"> 0889.983.869 (DiamondVNSupport)</a>
                        </p>
                    </li>
                    <li>
                        <p class="selector-title main-title st-main-title">
                            <a class="hvr-shrink" style="color:black" target="_blank" href="/VCMXHDIAMONDGRVYFDDKZJ/HDSD_PhanMem.pdf"><b>Xem hướng dẫn sử dụng</b></a>
                        </p>
                    </li>
                    <li>
                        <p class="selector-title main-title st-main-title">
                            <a class="hvr-shrink" style="color:black" href="https://ultraviewer.net/vi/UltraViewer_setup_6.2_vi.exe"><b>Tải về phần mềm hỗ trợ từ xa UltraViewer</b></a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <span class="text-center f-18 m-t-15 m-b-15 d-block" style="color: aliceblue;">Thank you for sharing !</span><a href="https://www.facebook.com/profile.php?id=100008907648624" target="_blank" class="btn text-white bg-facebook btn-icon m-b-20"><i class="feather icon-facebook"></i></a>
            <a href="https://twitter.com/phoenixcoded" target="_blank" class="btn text-white bg-twitter btn-icon m-l-20 m-b-20"><i class="feather icon-twitter"></i></a>
        </div>
    </div>
</div>
