@using AppNetShop.DTO
@{
    Layout = null;
}
<div class="menu">
    <div class="menu-profile">
        <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
            <div class="menu-profile-cover with-shadow"></div>
            <div class="menu-profile-image">
                <img src="https://www.iconpacks.net/icons/2/free-reddit-logo-icon-2436-thumb.png" alt />
            </div>
            <div class="menu-profile-info">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        Trần Minh Quân
                    </div>
                    <div class="menu-caret ms-auto"></div>
                </div>
                <small>Super Admin</small>
            </div>
        </a>
    </div>
    <div id="appSidebarProfileMenu" class="collapse">
        <div class="menu-item pt-5px">
            <a href="javascript:;" class="menu-link">
                <div class="menu-icon"><i class="fa fa-cog"></i></div>
                <div class="menu-text">Cấu hình chung</div>
            </a>
        </div>
        <div class="menu-item">
            <a href="javascript:;" class="menu-link">
                <div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
                <div class="menu-text"> Thông tin cá nhân</div>
            </a>
        </div>
        <div class="menu-item pb-5px">
            <a href="javascript:;" class="menu-link">
                <div class="menu-icon"><i class="fa fa-question-circle"></i></div>
                <div class="menu-text"> Trợ giúp</div>
            </a>
        </div>
        <div class="menu-divider m-0"></div>
    </div>
    <div class="menu-header">Các chức năng chính</div>
    <div class="menu-item">
        <a href="/t-r-a-n-g-c-h-u" class="menu-link">
            <div class="menu-icon">
                <i class="fas fa-chart-line text-orange"></i>
            </div>
            <div class="menu-text">Thống kê số liệu<span class="menu-label bg-danger">Mới</span></div>
        </a>
    </div>
    <div class="menu-item">
        <a href="/ho-so-can-bo" class="menu-link">
            <div class="menu-icon">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <div class="menu-text">Quản lý nhân sự</div>
        </a>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
                <i class="fa fa-edit text-primary"></i>
            </div>
            <div class="menu-text">Quản lý phiếu</div>
            <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/quan-ly-phieu-thu" class="menu-link"><div class="menu-text">Lập phiếu thu</div></a></div>
            <div class="menu-item"><a href="/quan-ly-phieu-chi" class="menu-link"><div class="menu-text">Lập phiếu chi</div></a></div>
        </div>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
                <i class="fa fa-credit-card text-success"></i>
            </div>
            <div class="menu-text">Quản lý tài chính</div>
            <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Danh sách thu</div></a></div>
            <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Danh sách chi</div></a></div>
        </div>
    </div>
    <div class="menu-item">
        <a href="du-lieu-da-xoa" class="menu-link">
            <div class="menu-icon">
                <i class="fas fa-trash text-danger"></i>
            </div>
            <div class="menu-text">Thùng rác<span class="menu-label bg-danger">Mới</span></div>
        </a>
    </div>
    <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
                <i class="fa fa-cog text-danger"></i>
            </div>
            <div class="menu-text">Cấu hình hệ thống</div>
            <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
            <div class="menu-item"><a href="/danh-muc-he-thong" class="menu-link"><div class="menu-text">Danh mục hệ thống</div></a></div>
            <div class="menu-item"><a href="/danh-sach-tai-khoan" class="menu-link"><div class="menu-text">Danh sách tài khoản</div></a></div>
            <div class="menu-item"><a href="/danh-sach-khach_hang" class="menu-link"><div class="menu-text">Danh sách khách hàng</div></a></div>
            <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Phân quyền truy cập</div></a></div>
            <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Cấu hình hệ thống</div></a></div>
        </div>
    </div>

    <div class="menu-item d-flex">
        <a href="javascript:;" class="app-sidebar-minify-btn ms-auto d-flex align-items-center text-decoration-none" data-toggle="app-sidebar-minify">
            <i class="fa fa-angle-double-left"></i>
        </a>
    </div>

</div>
