
@{
    ViewBag.Title = "Trang chủ";
}
@section Scripts{
 
}

<h1 class="page-header mt-1">Thống kê số liệu</h1>

<!-- toggler -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <p>
            Add the <code>.app-footer</code> element to <code>.app-content</code> container for footer page element.
        </p>
    </div>
    <div class="hljs-wrapper">
<pre><code class="html" data-url="../assets/data/page-with-footer/code-1.json"></code></pre>
    </div>
</div>
