
@{
    ViewBag.Title = "Xét duyệt hồ sơ";
}
<link href="../assets/css/UloadNhanSu.css" rel="stylesheet" />
<link href="../assets/Farmwork/Chosen/chosen.css" rel="stylesheet" />

<div class="col-sm-12">
    <div class="panel panel-inverse">
        <div class="panel-heading bg-gray-300 text-muted">
            <h4 class="panel-title"><a href="#" class="text-decoration-none"><i class="fa fa-pen-to-square"></i> Xét duyệt hiện vật</a></h4>
        </div>
        <div class="panel-body p-0">
            <div id="content" class="app-content p-1 m-0 bg-component">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="alert p-2 mb-1 alert-dismissible fade show" style=" border-bottom: 2px solid #30a4ff; border-top: 2px solid #30a4ff; color: #bf1818;">
                            <strong>I. Danh sách xét duyệt</strong>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label mt-1">Thời gian giao (Từ ngày - Đến ngày):</label>
                            <div class="col-sm-12">
                                <div class="input-group input-daterange">
                                    <input type="date" class="form-control" name="start" placeholder="Date Start">
                                    <span class="input-group-text input-group-addon">đến</span>
                                    <input type="date" class="form-control" name="end" placeholder="Date End">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label mt-1">Tra cứu thông tin:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tra cứu theo số phiếu....">
                                <button type="button" class="btn btn-grd-success">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <table id="tblPhieuGiaoNhan"
                                   data-classes="table table-bordered align-middle text-nowrap table-hover"
                                   data-toggle="table"
                                   data-mobile-responsive="true"
                                   data-fixed-columns="true"
                                   data-show-export="true"
                                   data-search="false"
                                   data-pagination="true">
                                <thead>
                                    <tr>
                                        <th data-field="sap_xep" data-width="5">TT</th>
                                        <th data-field="ten_goi">Số đăng ký</th>
                                        <th data-field="ghi_chu">Thời gian đăng ký</th>
                                        <th data-field="is_lock" class="text-center">Tên hiện vật</th>
                                        <th class="text-center">
                                            Trạng thái
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="alert p-2 mb-1 alert-dismissible fade show" style=" border-bottom: 2px solid #30a4ff; border-top: 2px solid #30a4ff; color: #bf1818;">
                            <strong>II. Thông tin hiện vật xét duyệt</strong>
                        </div>
                        <div class="col-sm-12">
                            <div class="d-lg-flex mb-0">
                                <button type="button" id="" class="btn btn-grd-info btn-mini me-1 mb-1" data-bs-toggle="modal"><span class="fa fa-check"></span> Duyệt hiện vật</button>
                                <button type="button" id="" class="btn btn-grd-danger btn-mini me-1 mb-1"><span class="fa fa-left-right"></span> Trả phiếu</button>
                                <button type="button" id="" class="btn btn-grd-success btn-mini me-1 mb-1"><span class="fa fa-lock"></span> Khóa phiếu</button>
                                <button type="button" id="" class="btn btn-grd-inverse btn-mini me-1 mb-1"><span class="fa fa-qrcode"></span> Mã sản phẩm</button>
                            </div>
                            <hr class="mt-0 mb-2 bg-gray-600 text-danger">
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-4 bg-cyan-500 p-1">
                                            <div class="avatar-wrapper mt-3">
                                                <img class="profile-pic" id="image_HoSo" src="../assets/img/Avatar2.jpg" />
                                                <div class="upload-button" id="btnUploadAvartar">
                                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                                </div>
                                                <input type="file" class="file-upload" id="duong_dan_tai_lieu" accept="image/png, image/jpeg,image/jpg" />
                                                <input type="hidden" id="is_thay_doi" class="form-control">
                                                <input type="hidden" id="IdCanBo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h6 class="text-primary">1. Tên gọi</h6>
                                                    <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label mt-1">1.1 Tên hiện vật:<font class="text-danger">*</font></label>
                                                    <input class="form-control" placeholder="Tên hiện vật ..." id="" type="text" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label mt-1">1.2 Tên gọi khác:</label>
                                                    <input class="form-control" placeholder="Tên gọi khác ..." id="" type="text" />
                                                </div>
                                                <div class="col-sm-12 mt-3">
                                                    <h6 class="text-primary">2. Số đăng ký</h6>
                                                    <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="form-label mt-1">2.1 Số đăng ký:<font class="text-danger">*</font></label>
                                                    <input class="form-control" placeholder="Số đăng ký ..." id="" type="text" />
                                                </div>
                                                <div class="col-sm-8">
                                                    <label class="form-label mt-1">2.2 Đường dẫn hình ảnh 3D:</label>
                                                    <input class="form-control" placeholder="Đường dẫn hình ảnh 3D ..." id="" type="text" />
                                                </div>
                                                <div class="col-sm-12 mt-3">
                                                    <h6 class="text-primary">3. Số lượng</h6>
                                                    <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="form-label mt-1">3.1 Số lượng:<font class="text-danger">*</font></label>
                                                    <input class="form-control" placeholder="Số lượng ..." id="" type="text" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">4. Thời kỳ/niên đại</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="form-label mt-1">4.1 Thời kỳ:</label>
                                                <select class="form-control chosen" id="">
                                                    <option value="">Chọn thời kỳ</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">5. Loại hiện vật</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="col-sm-12 row">
                                                <div class="form-check col-sm-6 mb-3">
                                                    <input type="radio" class="form-check-input" id="IsCoVat" name="radiorequired">
                                                    <label class="form-check-label" for="IsCoVat">Cổ vật</label>
                                                </div>
                                                <div class="form-check col-sm-6">
                                                    <input type="radio" class="form-check-input" id="IsDiVat" name="radiorequired">
                                                    <label class="form-check-label" for="IsDiVat">Di vật</label>
                                                </div>
                                                <div class="form-check col-sm-6">
                                                    <input type="radio" class="form-check-input" id="IsBaoVatQuocGia" name="radiorequired">
                                                    <label class="form-check-label" for="IsBaoVatQuocGia">Bảo vật quốc gia</label>
                                                </div>
                                                <div class="form-check col-sm-6">
                                                    <input type="radio" class="form-check-input" id="IsHienVat" name="radiorequired">
                                                    <label class="form-check-label" for="IsHienVat">Hiện vật kháng chiến</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">6. Bổ sưu tập</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="form-label mt-1">6.1 Bộ sưu tập:</label>
                                                <select class="form-control chosen" id="">
                                                    <option value="">Chọn bộ sưu tập</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">7. Chất liệu</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="form-label mt-1">7.1 Chất liệu:</label>
                                                <select class="form-control chosen" id="">
                                                    <option value="">Chọn chất liệu</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">8. Kích thước</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="form-label mt-1">8.1 Chiều dài (m):</label>
                                                    <input class="form-control" placeholder="Chiều dài ..." id="" type="text" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="form-label mt-1">8.2 Chiều rộng (m):</label>
                                                    <input class="form-control" placeholder="Chiều rộng ..." id="" type="text" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="form-label mt-1">8.3 Chiều cao (m):</label>
                                                    <input class="form-control" placeholder="Chiều cao ..." id="" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">9. Trọng lượng</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label class="form-label mt-1">9.1 Trọng lượng (g,kg):</label>
                                                    <input class="form-control" placeholder="Trọng lượng ..." id="" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">10. Màu sắc</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label class="form-label mt-1">10.1 Màu sắc:</label>
                                                    <select class="form-control chosen" id="">
                                                        <option value="">Chọn màu sắc</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">11. Miêu tả</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="form-label mt-1">11.1 Miêu tả hiện vật:</label>
                                                    <input class="form-control" placeholder="Miêu tả hiện vật ..." id="" type="text" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label mt-1">11.2 Dấu tích đặc biệt:</label>
                                                    <input class="form-control" placeholder="Dấu tích đặc biệt ..." id="" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert p-2 m-2 alert-dismissible fade show" style=" border-bottom: 2px solid #30a4ff; border-top: 2px solid #30a4ff; color: #bf1818;">
                                            <strong>II. Xuất xứ</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">15. Địa chỉ sưu tầm</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label class="form-label mt-1">15.1 Địa chỉ sưu tầm:</label>
                                                    <input class="form-control" placeholder="Địa chỉ sưu tầm ..." id="" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">16. Thời gian hiện vật</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label class="form-label mt-1">16.1 Thời gian hiện vật:</label>
                                                    <input class="form-control" id="" type="date" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">17. Thời gian đăng ký hiện vật</h6>
                                                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label class="form-label mt-1">17.1 Số quyết định:</label>
                                                    <input class="form-control" id="" type="text" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label mt-1">17.2 Ngày quyết định:</label>
                                                    <input class="form-control" id="" type="date" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label mt-1">17.3 Thời gian tiếp nhận hiện vật:</label>
                                                    <input class="form-control" id="" type="date" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="form-label mt-1">17.4 Thời gian đăng ký di vật, cổ vật quốc gia:</label>
                                                    <input class="form-control" id="" type="date" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert p-2 m-2 alert-dismissible fade show" style="border-bottom: 2px solid #30a4ff; border-top: 2px solid #30a4ff; color: #bf1818; ">
                                            <strong>III. Quản lý</strong>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-12 mt-3">
                                                <h6 class="text-primary">18. Tình trạng bảo quản</h6>
                                                <hr class="mb-0 mt-0 bg-gray-600 text-danger">
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-12">
                                                    <table id="tableBaoQuan"
                                                           data-toggle="table"
                                                           data-classes="table table-bordered table-hover reponsive"
                                                           data-unique-id="IdTinhTrangBQ"
                                                           data-mobile-responsive="true"
                                                           data-fixed-columns="true"
                                                           data-show-export="true"
                                                           data-toolbar="#toolbarBaoQuan"
                                                           data-pagination="true"
                                                           data-page-size="15"
                                                           data-page-list="[15, 25, 35, all]">
                                                        <thead>
                                                            <tr class="trTable">
                                                                <th data-field="cbTinhTrangBaoQuan" class="text-center">Tình trạng bảo quản</th>
                                                                <th data-field="cbLoaiBaoQuan" class="text-center">Loại bảo quản</th>
                                                                <th data-field="dtNgayBaoQuan" class="text-center">Ngày bảo quản</th>
                                                                <th data-field="SoHSLienQuan" data-width="5">Số hồ sơ liên quan</th>
                                                                <th data-formatter="operateFormatter_XoaBaoQuan" data-field="XoaBaoQuan" data-width="5"><strong>#</strong></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  