
@{
    ViewBag.Title = "Danh sách tài khoản";
}
<style>
    .bg_boder_red {
        border: 1px solid #c56969;
        border-radius: 71px;
    }
</style>
@section Scripts{
    <script src="~/assets/Farmwork/mustache/mustache.min.js"></script>
    <script>
        var myControl = {

            init: function () {
                myControl.event();
                myControl.LoadTable();
            },

            event: function () {

            },

            LoadTable: function () {
                $.ajax({
                    url: '/C_DanhSachTaiKhoan/LoadTable',
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        if (res.status == true) {
                            var lstAccount = res.lstAccount;
                            var html = '';
                            var template = $('#data-template-user').html();
                            if (lstAccount != null) {
                                $("#tblUsers").bootstrapTable('load', lstAccount);
                                $.each(lstAccount, function (i, item) {
                                    html += Mustache.render(template, {
                                        ho_ten: item.ho_ten,
                                        gioi_Tinh: item.gioi_Tinh,
                                        UserName: item.UserName,
                                        ngay_sinh: item.ngay_sinh,
                                        so_dien_thoai: item.so_dien_thoai,
                                        IdUser: item.IdUser,
                                    });
                                });
                                $('#listAcount').html(html);

                            } else {
                                $("#tblUsers").bootstrapTable('removeall');
                            }
                        }
                    }
                });
            },
        };
        myControl.init();

        function fm_xoa(e, value, row, index) {
            return [
                '<div class="text-center">',
                '<a class="btn btn-sm btn-outline-danger hvr-shrink" title="" href="javascript:myControl.Delete(' + value.Id + ')" ><i class="fa fa-trash f-16 text-center"></i></a>',
                '</div>'
            ].join('');
        };
        function fm_reset(e, value, row, index) {
            return [
                '<div class="text-center">',
                '<a class="btn btn-sm btn-outline-success hvr-shrink" title="" href="javascript:myControl.Delete(' + value.Id + ')" ><i class="fa fa-redo f-16 text-center"></i></a>',
                '</div>'
            ].join('');
        };
        function fm_sua(e, value, row, index) {
            return [
                '<div class="text-center">',
                '<a class="btn btn-sm btn-outline-info hvr-shrink" title="" href="javascript:myControl.Delete(' + value.Id + ')" ><i class="fa fa-edit f-16 text-center"></i></a>',
                '</div>'
            ].join('');
        };
        function fm_upload(e, value, row, index) {
            if (value.url_avatar != "" && value.url_avatar != null) {
                return [
                    '<div>',
                    '<a style="margin-left:5px" title="Tải về" href="' + value.url_avatar + '" download="" >Đã có ảnh <i class="fa fa-download"></i></a>',
                    '<a style="margin-left:5px;color:red;" title="Xóa tệp đính kèm" href="javascript:myController.deletePic(' + value.IdUser + ')"><i class="fa fa-trash-o"></i></a>',
                    '</div>'
                ].join('');
            } else {
                return [
                    '<div class="input-group" style="margin-bottom:0px">',
                    '<input class="btn-outline-info btn-sm waves-effect waves-light" type="file" style="width:100%" id="url_file_' + value.IdUser + '" />',
                    '</div>'
                ].join('');
            }
        };
    </script>
}
<div class="col-sm-12 pt-3">
    <a href="/t-r-a-n-g-c-h-u" class="fs-16px hvr-shrink text-decoration-none"><i class="fa fa-home"></i></a>
    <a href="#" class="fs-16px hvr-shrink  text-decoration-none"> / </a>
    <a href="/danh-sach-tai-khoan" class="fs-16px hvr-shrink text-decoration-none text-muted">Cán bộ & Tài khoản</a>
</div>

<div class="panel panel-inverse">
    <div class="panel-heading bg-cyan-700 text-white ui-sortable-handle">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
    </div>
    <div class="panel-body pt-0">
        <div id="content" class="app-content p-0 m-0 bg-component">
            <div class="app-content-padding px-0 py-3">
                <div class="d-lg-flex mb-2">
                    <button type="button" id="btn_new_form" class="btn btn-default btn-sm me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modal-can-bo">
                        <span class="fa fa-plus"></span> Thêm mới cán bộ
                    </button>
                    <button type="button" id="btn_new_form" class="btn btn-default btn-sm me-1 mb-1">
                        <span class="fas fa-pen-to-square text-success"></span> Tạo tài khoản tự động
                    </button>
                    <div class="col-lg-9 p-0">
                        <div class="position-relative">
                            <input type="text" class="form-control form-control-sm ps-35px rounded-3" placeholder="Tìm kiếm nhanh..." />
                            <button class="btn position-absolute start-0 top-0 shadow-none p-3"><i class="fa fa-search fa-lg"></i></button>
                        </div>
                    </div>
                </div>
                <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                <div class="tab-overflow">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="nav nav-tabs nav-tabs-deffault card  border-1 card-border-c-blue" style="width: 100%;">
                                <li class="nav-item prev-button"><a href="javascript:;" data-click="prev-tab" class="nav-link text-primary"><i class="fa fa-arrow-left"></i></a></li>
                                <li class="nav-item"><a href="#nav-tab-1" data-bs-toggle="tab" class="nav-link active">Chế độ hiển thị 1</a></li>
                                <li class="nav-item"><a href="#nav-tab-2" data-bs-toggle="tab" class="nav-link">Chế độ hiển thị 2</a></li>
                                <li class="nav-item"><a href="#nav-tab-3" data-bs-toggle="tab" class="nav-link">Phân quyền tài khoản</a></li>
                                <li class="nav-item next-button"><a href="javascript:;" data-click="next-tab" class="nav-link text-primary"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body tab-content p-0">
                <div class="tab-pane fade active show" id="nav-tab-1">
                    <div class="row gx-1" id="listAcount">
                        <script id="data-template-user" type="x-tmpl-mustache">
                            <div class="col-sm-2 mb-1">
                                <div class="p-2 d-flex align-items-center card border-1 rounded">
                                    <div class="text-center bg_boder_red">
                                        <a href="javascript:;">
                                            <img src="../assets/img/Avatar.jpg" alt="" class="mw-100 rounded-pill p-1" width="130">
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <b class="text-muted">{{ho_ten}}</b>
                                        <div class="pt-2 pb-1">Giám đốc - Đang làm việc</div>
                                        <div class="pt-2 pb-1">{{UserName}} - <span class="badge bg-success">Active</span></div>
                                    </div>
                                    <div class="row text-center">
                                        <a href="javascript:;" class="btn border-0 w-40px h-40px text-gray-500 rounded-pill d-flex align-items-center justify-content-center"><i class="fa fa-edit text-primary fa-lg"></i></a>
                                        <a href="javascript:;" class="btn border-0 w-40px h-40px text-gray-500 rounded-pill d-flex align-items-center justify-content-center"><i class="fa fa-refresh text-success fa-lg"></i></a>
                                        <a href="javascript:;" class="btn border-0 w-40px h-40px text-gray-500 rounded-pill d-flex align-items-center justify-content-center"><i class="fa fa-trash text-danger fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </script>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-tab-2">
                    <div id="content" class="app-content p-0 m-0 bg-component">
                        <table id="tblUsers"
                               data-classes="table table-bordered align-middle text-nowrap table-hover"
                               data-toggle="table"
                               data-mobile-responsive="true"
                               data-fixed-columns="true"
                               data-show-export="true"
                               data-search="false"
                               data-pagination="true">
                            <thead>
                                <tr>
                                    <th data-field="stt" data-width="5">TT</th>
                                    <th data-formatter="fm_sua" data-width="5" class="text-center"><font class="fas fa-edit pb-1"></font></th>
                                    <th data-formatter="fm_reset" data-width="5" class="text-center"><font class="fas fa-refresh pb-1"></font></th>
                                    <th data-formatter="fm_xoa" data-width="5" class="text-center"><font class="fas fa-trash pb-1"></font></th>
                                    <th data-field="">Mã cán bộ</th>
                                    <th data-field="ho_ten">Tên cán bộ</th>
                                    <th data-field="">Chức vụ</th>
                                    <th data-field="">Trạng thái</th>
                                    <th data-field="UserName">Tên tài khoản</th>
                                    <th data-formatter="fm_upload">Ảnh cán bộ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>


                <div class="tab-pane fade" id="nav-tab-3">
                    <h3 class="mt-10px">Nav Tab 3</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor,
                        est diam sagittis orci, a ornare nisi quam elementum tortor.
                        Proin interdum ante porta est convallis dapibus dictum in nibh.
                        Aenean quis massa congue metus mollis fermentum eget et tellus.
                        Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien,
                        nec eleifend orci eros id lectus.
                    </p>
                    <p>
                        Aenean eget odio eu justo mollis consectetur non quis enim.
                        Vivamus interdum quam tortor, et sollicitudin quam pulvinar sit amet.
                        Donec facilisis auctor lorem, quis mollis metus dapibus nec. Donec interdum tellus vel mauris vehicula,
                        at ultrices ex gravida. Maecenas at elit tincidunt, vulputate augue vitae, vulputate neque.
                        Aenean vel quam ligula. Etiam faucibus aliquam odio eget condimentum.
                        Cras lobortis, orci nec eleifend ultrices, orci elit pellentesque ex, eu sodales felis urna nec erat.
                        Fusce lacus est, congue quis nisi quis, sodales volutpat lorem.
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal-can-bo">
    <div class="modal-dialog" style="max-width:35%">
        <div class="modal-content">
            <div class="panel panel-inverse m-0">
                <div class="panel-heading  bg-cyan-700 text-white">
                    <h4 class="panel-title">Thêm mới cán bộ</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label mt-1">Mã cán bộ:<font class="text-danger">*</font></label>
                                    <input class="form-control" placeholder="Mã cán bộ ..." type="text" />
                                </div>
                                <div class="col-sm-12">
                                    <label class="form-label mt-1">CMND/Căn cước:<font class="text-danger">*</font></label>
                                    <input class="form-control" placeholder="Số hiệu giấy tờ" type="text" />
                                </div>
                                <div class="col-sm-12">
                                    <label class="form-label mt-1">Họ tên:<font class="text-danger">*</font></label>
                                    <input class="form-control" placeholder="Tên cán bộ" type="text" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label mt-1">Chức vụ:</label>
                                    <select class="selectpicker">
                                        <option value="">Giám đốc</option>
                                        <option value="">Phó giám đốc</option>
                                        <option value="">Kế toán</option>
                                        <option value="">Cán bộ kỹ thuật</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label mt-1">Giới tính:</label>
                                    <select class="selectpicker" id="chuc_vu">
                                        <option value="">Nam</option>
                                        <option value="">Nữ</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label mt-1">Ngày sinh:</label>
                                    <input class="form-control" type="date" />
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label mt-1">Email:</label>
                                    <input class="form-control" placeholder="Email" type="text" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-0 p-0">
                    <a class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="fa fa-arrow-rotate-left"></i> Thoát</a>
                    <a class="btn btn-sm btn-success"><i class="fa fa-save"></i> Cập nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>