
@{
    ViewBag.Title = "Hồ sơ cán bộ";
}
<link href="../assets/Farmwork/Chosen/chosen.css" rel="stylesheet" />
<link href="../assets/css/UloadNhanSu.css" rel="stylesheet" />
@section Scripts{
    <script src="../assets/Farmwork/mustache/mustache.min.js"></script>
    <script src="../assets/Farmwork/Chosen/chosen.jquery.js"></script>
    <script>
        function hasAccents(str) {
            const accentPattern = /[\u0300-\u036f\u1ab0-\u1aff\u1dc0-\u1dff\u20d0-\u20ff\u2cef-\u2cff\u2de0-\u2dff\ua66f-\ua67f\ua69e-\ua69f\ua6f0-\ua6f1\uFE20-\uFE2F]/g;
            return accentPattern.test(str.normalize('NFD'));
        }
    </script>
    <script>
        var files;
        var myControl = {
            init: function () {
                //myControl.LoadData();
                myControl.LoadNganHang();
                myControl.event();
            },
            event: function () {

                $(".chosen").chosen();
                $(".chosen-results").css('font-size', '14px');
                $(".chosen-container").css('width', '100%');

                $("#btn_new_form").off('click').on('click', function () {
                    myControl.ResetForm();
                    notify('success', 'Thành Công', 'Tạo mới thành công');
                });

                $("#btn_search").off('click').on('click', function () {
                });

                $("#btn_save_form").off('click').on('click', function () {
                    myControl.SaveData();
                });

                $("#btn_save_tai_khoan").off('click').on('click', function () {
                    myControl.SaveNganHang();
                });
                $('#btn_remove_file').off('click').on('click', function () {
                    $('#is_thay_doi').val('false');
                    $("#image_HoSo").attr('src', "../assets/img/Avatar.jpg");
                });

                $('#ho_ten_chu_tai_khoan').off('change').on('change', function () {
                    var ho_ten_chu_tai_khoan = $('#ho_ten_chu_tai_khoan').val();
                    if (hasAccents(ho_ten_chu_tai_khoan)) {
                        notify('error', 'Cảnh báo', 'Không được phép nhập dấu');
                        $("#ho_ten_chu_tai_khoan").val("");
                        $("#ho_ten_chu_tai_khoan").focus();
                        return;
                    }
                });

                $('#cb_ngan_hang').off('change').on('change', function () {
                    var logo = $("#cb_ngan_hang").find(':selected').data('image');
                    if ($("#cb_ngan_hang").val() != "") {
                        $('#image_bank').attr('src', logo);
                    } else {
                        $('#image_bank').attr('src', "../assets/img/bank.png");
                    }
                });

                $("#btnUploadAvartar").off('click').on('click', function () {
                    $("#duong_dan_tai_lieu").click();
                    $("#duong_dan_tai_lieu").off('change').on('change', function (e) {
                        files = e.target.files;
                        if (files.length > 0) {
                            for (var x = 0; x < files.length; x++) {
                                if (files[x].size >= 52428800) {
                                    notify('error', 'Có Lỗi', 'Chỉ được upload file dưới 50mb');
                                    $("#duong_dan_tai_lieu").filestyle('clear');
                                    $("#duong_dan_tai_lieu").filestyle('placeholder', "Không có tệp đính kèm nào");
                                    $('#is_thay_doi').val('true');
                                    return;
                                } else {
                                    $('#is_thay_doi').val('true');
                                    myControl.readURL(this);
                                }
                            }

                        }
                    });
                });
            },

            readURL: function (input) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image_HoSo').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            },

            ResetForm: function () {
                $("#IdCanBo").val(0);
                $("#cb_trang_thai_lam_viec").val("");
                $("#ngay_bat_dau_cong_tac").val("");
                $("#chuc_vu").val("");
                $("#so_hieu_giay_to").val("");
                $("#ho_ten").val("");
                $("#gioi_tinh").val("");
                $("#ngay_sinh").val("");
                $("#so_dien_thoai").val("");
                $("#email").val("");
                $("#cb_ngan_hang").val("").trigger('chosen:updated');
                $("#so_tai_khoan").val("");
                $("#cb_tinh").val("");
                $("#cb_quan_huyen").val("");
                $("#cb_xa_phuong").val("");
                $("#dia_chi").val("");
                $('#is_thay_doi').val('false');
                $("#duong_dan_tai_lieu").val('');
                $("#image_HoSo").attr('src', "../assets/img/Avatar.jpg");
            },

            SaveData: function () {
                var IdCanBo = $("#IdCanBo").val();
                var cb_trang_thai_lam_viec = $("#cb_trang_thai_lam_viec").val();
                var ngay_bat_dau_cong_tac = $("#ngay_bat_dau_cong_tac").val();
                var chuc_vu = $("#chuc_vu").val();
                var so_hieu_giay_to = $("#so_hieu_giay_to").val();
                var ho_ten = $("#ho_ten").val();
                var gioi_tinh = $("#gioi_tinh").val();
                var ngay_sinh = $("#ngay_sinh").val();
                var so_dien_thoai = $("#so_dien_thoai").val();
                var email = $("#email").val();
                var cb_ngan_hang = $("#cb_ngan_hang").val();
                var so_tai_khoan = $("#so_tai_khoan").val();
                var cb_tinh = $("#cb_tinh").val();
                var cb_quan_huyen = $("#cb_quan_huyen").val();
                var cb_xa_phuong = $("#cb_xa_phuong").val();
                var dia_chi = $("#dia_chi").val();

                if (cb_trang_thai_lam_viec == "" || cb_trang_thai_lam_viec == null || cb_trang_thai_lam_viec == undefined) {
                    notify('info', 'Cảnh báo', 'Bạn chưa chọn trạng thái làm việc');
                    $("#cb_trang_thai_lam_viec").focus();
                    return;
                }

                if (ngay_bat_dau_cong_tac == "" || ngay_bat_dau_cong_tac == null || ngay_bat_dau_cong_tac == undefined) {
                    notify('info', 'Cảnh báo', 'Bạn chưa chọn ngày bắt đầu công tác');
                    $("#ngay_bat_dau_cong_tac").focus();
                    return;
                }

                if (so_hieu_giay_to == "" || so_hieu_giay_to == null || so_hieu_giay_to == undefined) {
                    notify('info', 'Cảnh báo', 'Bạn chưa nhập số hiệu');
                    $("#so_hieu_giay_to").focus();
                    return;
                }

                if (ho_ten == "" || ho_ten == null || ho_ten == undefined) {
                    notify('info', 'Cảnh báo', 'Bạn chưa nhập họ tên');
                    $("#ho_ten").focus();
                    return;
                }
                var objdata = {
                    IdCanBo: IdCanBo,
                    cb_trang_thai_lam_viec: cb_trang_thai_lam_viec,
                    ngay_bat_dau_cong_tac: ngay_bat_dau_cong_tac,
                    chuc_vu: chuc_vu,
                    so_hieu_giay_to: so_hieu_giay_to,
                    ho_ten: ho_ten,
                    gioi_tinh: gioi_tinh,
                    ngay_sinh: ngay_sinh,
                    so_dien_thoai: so_dien_thoai,
                    email: email,
                    cb_ngan_hang: cb_ngan_hang,
                    so_tai_khoan: so_tai_khoan,
                    cb_tinh: cb_tinh,
                    cb_quan_huyen: cb_quan_huyen,
                    cb_xa_phuong: cb_xa_phuong,
                    dia_chi: dia_chi
                }
                if (files != undefined && files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append(files[x].name, files[x]);
                        }
                        data.append("strData", JSON.stringify(objdata));
                        $.ajax({
                            type: "POST",
                            url: '/C_HoSoCanBo/SaveData',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (response) {
                                if (response.code == true) {
                                    myControl.LoadTable();
                                    notify('success', 'Thành Công', 'Cập nhập thành công');
                                    $("#modal-ho-so").modal("hide");
                                } else {
                                    notify('error', 'Có Lỗi', response.message);
                                }
                            },
                            error: function (response) {
                                notify('error', 'Có Lỗi', response.message);
                            }
                        });
                    } else {
                        alert("Upload file thất bại!");
                    }
                }
                else {
                    $.ajax({
                        type: 'Post',
                        url: '/C_HoSoCanBo/SaveData',
                        datatype: 'json',
                        data: {
                            strData: JSON.stringify(objdata),
                        },
                        success: function (response) {
                            if (response.code) {
                                myControl.LoadTable();
                                notify('success', 'Thành Công', 'Cập nhập thành công');
                                $("#modal-ho-so").modal("hide");
                            }
                            else {
                                notify('error', 'Có Lỗi', response.message);
                            }
                        },
                    });
                }
            },

            LoadData: function () {
                $.ajax({
                    url: '/C_HoSoCanBo/LoadData',
                    type: 'GET',
                    datatype: 'json',
                    success: function (response) {
                        if (response.code) {
                            var lstNganHang = response.lstNganHang;
                            if (lstNganHang != null) {
                                var option = "<option value=''>Chọn ngân hàng</option>";
                                $.each(lstNganHang, function (index, val) {
                                    option += "<option value='" + val.ten_goi + "'>" + val.ten_goi + "</option>";
                                });
                                $("#cb_ngan_hang").html(option);
                                $("#cb_ngan_hang").trigger('chosen:updated');
                            }
                            myControl.LoadTable();
                        }
                    },
                });
            },

            LoadNganHang: function () {
                $.ajax({
                    url: 'https://api.vietqr.io/v2/banks',
                    type: 'GET',
                    datatype: 'json',
                    success: function (response) {
                        if (response.code == "00") {
                            var data = response.data;
                            if (data != null) {
                                var option = "<option value=''>Chọn ngân hàng</option>";
                                $.each(data, function (index, val) {
                                    option += "<option data-image='" + val.logo + "' data-id='" + val.name + "' value='" + val.bin + "'>" + val.name + " ( " + val.shortName + " ) " + "</option>";
                                });
                                $("#cb_ngan_hang").html(option);
                                $("#cb_ngan_hang").trigger('chosen:updated');
                            }
                            myControl.LoadTable();
                        }
                    },
                });
            },
            PaymentLoad: function (IdCanBo) {
                showLoader();
                $.ajax({
                    url: '/C_HoSoCanBo/PaymentLoad',
                    type: 'GET',
                    data: {
                        IdCanBo: IdCanBo,
                    },
                    datatype: 'json',
                    success: function (response) {
                        if (response.success) {
                            $("#modal-qr-code").modal("show");
                            var image = response.images;
                            $('#image_qr').attr('src', image);
                            hideLoader();
                        } else {
                            notify('error', 'Có Lỗi', response.message);
                            hideLoader();
                        }
                    },
                });
            },

            CreateNganHang: function (IdCanBo) {
                $.ajax({
                    url: '/C_HoSoCanBo/LoadDetail',
                    type: 'GET',
                    data: {
                        IdCanBo: IdCanBo,
                    },
                    datatype: 'json',
                    success: function (response) {
                        if (response.code) {
                            var listData = response.listData;
                            if (listData != null) {
                                $("#IdCanBo").val(listData.IdCanBo);
                                $("#cb_ngan_hang").val(listData.ma_bin_ngan_hang).trigger('chosen:updated');
                                $("#ho_ten_chu_tai_khoan").val(listData.ho_ten_chu_tai_khoan);
                                $("#so_tai_khoan").val(listData.so_tai_khoan);
                                var logo = $("#cb_ngan_hang").find(':selected').data('image');
                                if ($("#cb_ngan_hang").val() != "") {
                                    $('#image_bank').attr('src', logo);
                                } else {
                                    $('#image_bank').attr('src', "../assets/img/bank.png");
                                }
                            }
                            $("#modal-create-bank").modal("show");
                        } else {
                            notify('error', 'Có Lỗi', response.message);
                        }
                    },
                });
            },

            SaveNganHang: function () {
                var IdCanBo = $("#IdCanBo").val();
                var cb_ngan_hang = $("#cb_ngan_hang").find(':selected').data('id');
                var bin = $("#cb_ngan_hang").val();
                var ho_ten_chu_tai_khoan = $("#ho_ten_chu_tai_khoan").val();
                var so_tai_khoan = $("#so_tai_khoan").val();

                $.ajax({
                    url: '/C_HoSoCanBo/SaveNganHang',
                    type: 'Post',
                    data: {
                        IdCanBo: IdCanBo,
                        cb_ngan_hang: cb_ngan_hang,
                        bin: bin,
                        ho_ten_chu_tai_khoan: ho_ten_chu_tai_khoan,
                        so_tai_khoan: so_tai_khoan,
                    },
                    datatype: 'json',
                    success: function (response) {
                        if (response.code) {
                            $("#modal-create-bank").modal("hide");
                            notify('success', 'Thành Công', 'Cập nhập thành công');
                        } else {
                            notify('error', 'Có Lỗi', response.message);
                        }
                    },
                });
            },

            LoadTable: function () {
                $.ajax({
                    url: '/C_HoSoCanBo/LoadTable',
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        if (res.status == true) {
                            var lstAccount = res.lstAccount;
                            var html = '';
                            var template = $('#data-template-user').html();
                            if (lstAccount != null) {
                                $("#tblUsers").bootstrapTable('load', lstAccount);
                                $.each(lstAccount, function (i, item) {
                                    html += Mustache.render(template, {
                                        ho_ten: item.ho_ten,
                                        gioi_tinh: item.gioi_tinh,
                                        chuc_vu: item.chuc_vu,
                                        ngay_sinh: item.ngay_sinh,
                                        so_dien_thoai: item.so_dien_thoai,
                                        so_hieu_giay_to: item.so_hieu_giay_to,
                                        url_avatar: item.url_avatar != "" ? item.url_avatar : "../assets/img/Avatar.jpg",
                                        name_avatar: item.name_avatar,
                                        IdCanBo: item.IdCanBo,
                                    });
                                });
                                $('#listAcount').html(html);
                                $("#image_avartar").hide();

                                if (lstAccount.length == 0) {
                                    $("#image_avartar").show();
                                }
                            } else {
                                $("#tblUsers").bootstrapTable('removeall');
                            }
                        }
                    }
                });
            },
            LoadDetail: function (IdCanBo) {
                showLoader();
                if (IdCanBo > 0) {
                    $.ajax({
                        url: '/C_HoSoCanBo/LoadDetail',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            IdCanBo: IdCanBo
                        },
                        success: function (response) {
                            if (response.code == true) {
                                var listData = response.listData;
                                if (listData != null) {
                                    $('#IdCanBo').val(listData.IdCanBo);
                                    $('#so_hieu_giay_to').val(listData.so_hieu_giay_to);
                                    $('#so_dien_thoai').val(listData.so_dien_thoai);
                                    $('#ho_ten').val(listData.ho_ten);
                                    $('#gioi_tinh').val(listData.gioi_tinh);
                                    $('#dia_chi').val(listData.dia_chi);
                                    $('#cb_tinh').val(listData.cb_tinh);
                                    $('#cb_quan_huyen').val(listData.cb_quan_huyen);
                                    $('#cb_xa_phuong').val(listData.cb_xa_phuong);
                                    $('#cb_trang_thai_lam_viec').val(listData.cb_trang_thai_lam_viec);
                                    $('#chuc_vu').val(listData.chuc_vu);
                                    $('#ngay_sinh').val(listData.ngay_sinh);
                                    $('#ngay_bat_dau_cong_tac').val(listData.ngay_bat_dau_cong_tac);
                                    $('#email').val(listData.email);
                                    $("#image_HoSo").attr('src', listData.url_avatar);
                                }
                                hideLoader();
                                $("#modal-ho-so").modal("show");
                            } else {
                                hideLoader();
                                notify('error', 'Có Lỗi', 'Đã có lỗi xảy ra!');
                            }
                        }
                    });
                }
            },

            DeleteData: function (IdCanBo) {
                swal({
                    title: "Bạn có chắc muốn xóa dữ liệu không!",
                    text: "Lưu ý khi xóa sẽ không thể khôi phục được!",
                    showCancelButton: true,
                    closeOnConfirm: true,
                    cancelButtonText: "Thoát",
                    cancelButtonClass: "btn-sm btn-danger btn-round",
                    confirmButtonClass: "btn-sm btn-round btn-primary",
                    confirmButtonText: "Đồng ý",
                }, function () {
                    if (IdCanBo > 0) {
                        $.ajax({
                            type: 'Post',
                            url: '/C_HoSoCanBo/DeleteData',
                            datatype: 'json',
                            data: {
                                IdCanBo: IdCanBo,
                            },
                            success: function (response) {
                                if (response.code) {
                                    myControl.LoadTable();
                                    notify('success', 'Thành Công', 'Cập nhập thành công');
                                } else {
                                    notify('error', 'Có Lỗi', response.message);
                                }
                            }
                        });
                    } else {
                        notify('error', 'Có lỗi', 'Bạn chưa chọn bản ghi cần xóa');
                    }
                });
            },

        };
        function fm_editData(e, value, row, index) {
            return [
                '<div style="width: 100%">',
                '<a class=" hvr-shrink f-14" data-bs-toggle="dropdown">'
                + value.so_hieu_giay_to + '</a>',
                '<div class="dropdown-menu dropdown-menu-end">' +
                '<a href="javascript:myControl.LoadDetail(' + value.IdCanBo + ')" class="dropdown-item"><i class="fa fa-pencil text-info f-20"></i> Xem/Sửa phiếu thông tin</a><div class="dropdown-divider"></div>' +
                '<a href="javascript:myControl.CreateNganHang(' + value.IdCanBo + ')" class="dropdown-item"><i class="fa fa-credit-card text-success f-20"></i> Liên kết ngân hàng</a><div class="dropdown-divider"></div>' +
                '<a href="javascript:myControl.DeleteData(' + value.IdCanBo + ')" class="dropdown-item"><i class="fa fa-trash text-danger f-20"></i> Xóa dữ liệu</a>' +
                '<a href="javascript:myControl.PaymentLoad(' + value.IdCanBo + ')" class="dropdown-item"><i class="fa fa-qrcode text-warning f-20"></i> Thanh toán nhanh</a>' +
                '</div>' +
                '</div>'
            ].join('');
        };
        myControl.init();
    </script>
}

<div class="col-sm-12">
    <div class="panel panel-inverse">
        <div class="panel-heading bg-gray-300 text-muted">
            <h4 class="panel-title"><a href="#" class="text-decoration-none"><i class="fa fa-home"></i> Hồ sơ cán bộ</a></h4>
        </div>
        <div class="panel-body pt-0">
            <div id="content" class="app-content p-0 m-0 bg-component">
                <div class="app-content-padding px-0 py-3">
                    <div class="d-lg-flex mb-2">
                        <div class="d-lg-flex mb-2">
                            <button type="button" id="btn_new_form" class="btn btn-default btn-sm me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modal-ho-so"><span class="fa fa-plus"></span> Thêm mới nhân sự</button>
                        </div>
                        <div class="d-lg-flex mb-2">
                            <button type="button" id="btn_search" class="btn btn-default btn-sm me-1 mb-1"><span class="fa fa-search"></span> Tìm kiếm nâng cao</button>
                        </div>
                        <div class="col-lg-4">
                            <div class="position-relative">
                                <input type="text" class="form-control form-control-sm ps-35px rounded-3" placeholder="Tìm kiếm nhanh..." />
                                <button class="btn position-absolute start-0 top-0 shadow-none p-3"><i class="fa fa-search fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-10px mt-0 bg-gray-600 text-danger">
                    <div class="tab-overflow">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="nav nav-tabs nav-tabs-deffault card  border-1 card-border-c-blue" style="width: 100%;">
                                    <li class="nav-item prev-button"><a href="javascript:;" data-click="prev-tab" class="nav-link text-primary"><i class="fa fa-arrow-left"></i></a></li>
                                    <li class="nav-item"><a href="#nav-tab-1" data-bs-toggle="tab" class="nav-link active"><font class="fa fa-list"></font> Chế độ hiển thị dạng lưới</a></li>
                                    <li class="nav-item"><a href="#nav-tab-2" data-bs-toggle="tab" class="nav-link"><font class="fa fa-table"></font> Chế độ hiển thị dạng bảng</a></li>
                                    <li class="nav-item next-button"><a href="javascript:;" data-click="next-tab" class="nav-link text-primary"><i class="fa fa-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body tab-content p-0">
                    <div class="tab-pane fade active show" id="nav-tab-1">
                        <div class="row gx-1" id="listAcount">

                        </div>
                        <div id="image_avartar">
                            <div class="fa-10x text-center">
                                <img src="../assets/img/notfound.jpg" class="table-responsive" />
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-tab-2">
                        <div id="content" class="app-content p-0 m-0 bg-component">
                            <table id="tblUsers"
                                   data-classes="table table-bordered align-middle text-nowrap table-hover"
                                   data-toggle="table"
                                   data-mobile-responsive="true"
                                   data-fixed-columns="true"
                                   data-show-export="true"
                                   data-search="false"
                                   data-pagination="true">
                                <thead>
                                    <tr>
                                        <th data-field="ho_ten">Tên cán bộ</th>
                                        <th data-field="so_hieu_giay_to" data-formatter="fm_editData">Số hiệu giấy tờ</th>
                                        <th data-field="ngay_sinh">Ngày sinh</th>
                                        <th data-field="chuc_vu">Chức vụ</th>
                                        <th data-field="cb_trang_thai_lam_viec">Trạng thái</th>
                                        <th data-field="cb_ngan_hang">Ngân hàng</th>
                                        <th data-field="so_tai_khoan">Số tài khoản</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #modal-dialog -->
<div class="modal fade" id="modal-ho-so">
    <div class="modal-dialog" style="max-width:70%">
        <div class="modal-content">
            <div class="panel panel-inverse m-0">
                <div class="panel-heading  bg-cyan-700 text-white">
                    <h4 class="panel-title">Thêm mới cán bộ</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 bg-cyan-500 p-1">
                            <div class="avatar-wrapper mt-3">
                                <img class="profile-pic" id="image_HoSo" src="../assets/img/Avatar.jpg" />
                                <div class="upload-button" id="btnUploadAvartar">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input type="file" class="file-upload" id="duong_dan_tai_lieu" accept="image/png, image/jpeg,image/jpg" />
                                <input type="hidden" id="is_thay_doi" class="form-control">
                                <input type="hidden" id="IdCanBo" class="form-control">
                            </div>
                            <div class="col-md-12 mt-2" style=" display: ruby-text;">
                                <button type="button" id="btn_remove_file" class="btn btn-danger btn-sm waves-effect waves-light"><i class="fa fa-trash"></i> Xóa đường dẫn</button>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="form-label mt-1">Trạng thái làm việc:<font class="text-danger">*</font></label>
                                    <select class="form-control" id="cb_trang_thai_lam_viec">
                                        <option value="">Chọn trạng thái</option>
                                        <option value="Đang làm việc">Đang làm việc</option>
                                        <option value="Nghỉ chế độ">Nghỉ chế độ</option>
                                        <option value="Nghỉ hưu">Nghỉ hưu</option>
                                        <option value="Nghỉ đẻ">Nghỉ đẻ</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label mt-1">Ngày bắt đầu công tác:<font class="text-danger">*</font></label>
                                    <input class="form-control" placeholder="dd/MM/yyyy" id="ngay_bat_dau_cong_tac" type="date" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label mt-1">Chức vụ:</label>
                                    <select class="form-control" id="chuc_vu">
                                        <option value="">Chọn chức vụ</option>
                                        <option value="Giám đốc">Giám đốc</option>
                                        <option value="Phó giám đốc">Phó giám đốc</option>
                                        <option value="Kế toán">Kế toán</option>
                                        <option value="Cán bộ kỹ thuật">Cán bộ kỹ thuật</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label mt-1">CMND/Căn cước:<font class="text-danger">*</font></label>
                                    <input class="form-control" placeholder="Số hiệu giấy tờ" id="so_hieu_giay_to" type="text" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label mt-1">Họ tên:<font class="text-danger">*</font></label>
                                    <input class="form-control" placeholder="Tên cán bộ" id="ho_ten" type="text" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label mt-1">Giới tính:</label>
                                    <select class="form-control" id="gioi_tinh">
                                        <option value="">Chọn giới tính</option>
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label mt-1">Ngày sinh:</label>
                                    <input class="form-control" placeholder="dd/MM/yyyy" id="ngay_sinh" type="date" />
                                </div>

                                <div class="col-sm-4">
                                    <label class="form-label mt-1">Số điện thoại:</label>
                                    <input class="form-control" placeholder="Số điện thoại" id="so_dien_thoai" type="text" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="form-label mt-1">Email:</label>
                                    <input class="form-control" placeholder="Email" id="email" type="text" />
                                </div>

                            </div>
                        </div>
                    </div>

                    <div style="height: fit-content;" class="mb-2 mt-3">
                        <div class="accordion p-0" id="accordion2">
                            <div class="accordion-item border-1">
                                <div class="accordion-header" id="headingOne2">
                                    <button class="accordion-button bg-white-400 px-3 py-10px pointer-cursor" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2">
                                        <i class="fa fa-circle fa-fw text-blue me-2 fs-8px"></i> Bổ sung thêm địa chỉ/quê quán (nếu có)
                                    </button>
                                </div>
                                <div id="collapseOne2" class="accordion-collapse collapse show" data-bs-parent="#accordion2">
                                    <div class="accordion-body bg-white p-1">
                                        <div class="row tab_thong_tin_ca_nhan">
                                            <div class="col-sm-4">
                                                <label class="form-label mt-1">Tỉnh thành:</label>
                                                <select class="form-control" id="cb_tinh">
                                                    <option value="">Chọn tỉnh thành</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label mt-1">Quận huyện:</label>
                                                <select class="form-control" id="cb_quan_huyen">
                                                    <option value="">Chọn quận huyện</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label mt-1">Xã phường:</label>
                                                <select class="form-control" id="cb_xa_phuong">
                                                    <option value="">Chọn xã phường</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="form-label mt-1">Địa chỉ (Quê quán):</label>
                                                <input class="form-control" id="dia_chi" placeholder="Địa chỉ, Quê Quán..." type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-0 p-0">
                    <a class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="fa fa-arrow-rotate-left"></i> Thoát</a>
                    <a class="btn btn-sm btn-success" id="btn_save_form"><i class="fa fa-save"></i> Cập nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-qr-code">
    <div class="modal-dialog" style="max-width:30%">
        <div class="modal-content">
            <div class="panel panel-inverse m-0">
                <div class="panel-heading  bg-cyan-700 text-white">
                    <h4 class="panel-title">Mã QrCode</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 bg-cyan-500 p-1 text-center">
                            <a href="javascript:;">
                                <img id="image_qr" src="" alt="" class="mw-100 p-1" width="320" height="420">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-0 p-0">
                    <a class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="fa fa-arrow-rotate-left"></i> Thoát</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-create-bank">
    <div class="modal-dialog" style="max-width:30%">
        <div class="modal-content">
            <div class="panel panel-inverse m-0">
                <div class="panel-heading  bg-cyan-700 text-white">
                    <h4 class="panel-title">Cài đặt ngân hàng</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="bg_boder_red">
                            <a href="javascript:;">
                                <img src="https://my.vietqr.io/static/media/logo.30629bedbc818b217775.png" alt="" class="mw-100 p-1" width="100" height="50">
                            </a>
                            <a href="javascript:;">
                                <img src="" id="image_bank" alt="" class="mw-100 p-1" width="100" height="50">
                            </a>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label mt-1">Ngân hàng cá nhân:</label>
                            <select class="form-control chosen" id="cb_ngan_hang">
                                <option value="">Chọn ngân hàng</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label mt-1">Số tài khoản:</label>
                            <input class="form-control" placeholder="Số tài khoản" id="so_tai_khoan" type="text" />
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label mt-1">Họ tên:</label>
                            <input class="form-control" placeholder="Họ tên tài khoản, không dấu ..." style='text-transform:uppercase' id="ho_ten_chu_tai_khoan" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-0 p-0">
                    <a class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="fa fa-arrow-rotate-left"></i> Thoát</a>
                    <a class="btn btn-sm btn-green" id="btn_save_tai_khoan"><i class="fa fa-save"></i> Cập nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="data-template-user" type="x-tmpl-mustache">
    <div class="col-sm-2 mb-1">
        <div class="p-2 d-flex align-items-center card border-1 rounded">
            <div class="text-center bg_boder_red">
                <a href="javascript:;">
                    <img src="{{url_avatar}}" alt="" class="mw-100 rounded-pill p-1" width="150" height="150">
                </a>
            </div>
            <div class="text-center">
                <b class="text-muted"><a href="javascript:myControl.LoadDetail({{IdCanBo}})" class="hvr-shrink f-14 text-decoration-none">{{ho_ten}}</a></b>
                <div class="pt-2 pb-1">Ngày sinh: {{ngay_sinh}}</div>
                <div class="pb-1">{{gioi_tinh}} - {{chuc_vu}}</div>
                <div class="pb-1">Số hiệu: {{so_hieu_giay_to}}</div>
            </div>
            <div class="row text-center">
                <a href="javascript:myControl.CreateNganHang({{IdCanBo}})" class="hvr-shrink btn border-0 w-40px h-40px text-gray-500 rounded-pill d-flex align-items-center justify-content-center"><i class="fa fa-credit-card text-success fa-lg"></i></a>
                <a href="javascript:myControl.PaymentLoad({{IdCanBo}})" class="hvr-shrink btn border-0 w-40px h-40px text-gray-500 rounded-pill d-flex align-items-center justify-content-center"><i class="fa fa-qrcode text-warning fa-lg"></i></a>
                <a href="javascript:myControl.DeleteData({{IdCanBo}})" class="hvr-shrink btn border-0 w-40px h-40px text-gray-500 rounded-pill d-flex align-items-center justify-content-center"><i class="fa fa-trash text-danger fa-lg"></i></a>
            </div>
        </div>
    </div>
</script>