
@{
    Layout = null;
    ViewBag.Title = "LockScreen";
}
<style>
    body {
        background-color: #f2f7fb;
    }

    .login-block {
        margin: 30px auto;
        min-height: 93.6vh;
    }

        .login-block .auth-box {
            margin: 20px auto 0;
            max-width: 450px !important;
        }

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
        box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

        .card .card-block {
            padding: 1.25rem;
        }


    .f-80 {
        font-size: 80px;
    }

    .form-group {
        margin-bottom: 1.25em;
    }

    .form-material .form-control {
        display: inline-block;
        height: 43px;
        width: 100%;
        border: none;
        border-radius: 0;
        font-size: 16px;
        font-weight: 400;
        padding: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #ccc;
    }

    .btn-md {
        padding: 10px 16px;
        font-size: 15px;
        line-height: 23px;
    }



    .btn-primary {
        background-color: #4099ff;
        border-color: #4099ff;
        color: #fff;
        cursor: pointer;
        -webkit-transition: all ease-in .3s;
        transition: all ease-in .3s;
    }


    .btn {
        border-radius: 2px;
        text-transform: capitalize;
        font-size: 15px;
        padding: 10px 19px;
        cursor: pointer;
    }

    .m-b-20 {
        margin-bottom: 20px;
    }

    .btn-md {
        padding: 10px 16px;
        font-size: 15px;
        line-height: 23px;
    }
</style>
@section Scripts{
    <script>

    </script>
}
@*<section class="login-block col-lg-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">

                    <form class="md-float-material form-material">

                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center"><i class="fa fa-lock text-primary f-80"></i></h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="password" name="email" class="form-control text-center" placeholder="Enter passcode" required="">

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="fa fa-lock"></i> Unlock Screen </button>
                                    </div>
                                </div>

                                <p class="text-inverse text-center">Back to <a href="#" data-abc="true">Login</a></p>

                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </section>*@

<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <div class="col-lg-4 col-sm-4 m-auto" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gridModalLabel">Màn hình chờ</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center"><i class="fa fa-lock text-primary f-80"></i></h3>
                    </div>
                </div>
                <div class="form-group form-primary">
                    <input type="password" name="email" class="form-control text-center" placeholder="Enter passcode" required="">

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" onclick="UnLockScreen()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="fa fa-lock"></i> Mở khóa </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
